<body data-bs-spy="scroll" data-bs-target=".navbar">
  <!-- navbar fixed -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <a class="navbar-brand logo-text" href="#">MD_SQUARE</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#testimonials">Testimonials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- hero -->
  <section id="home">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h1 class="display-4">HE IS CREATIVE, AND HAS RESPONSIBLE PEERS</h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque,
            sit. Eligendi, totam.
          </p>
          <a href="#contact" class="btn btn-brand">Contact</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Services -->
  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-12 our-services">
          <h1>Our Services</h1>
          <div class="hline"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6 p-4">
          <div class="icon-box">
            <i class="bx bx-headphone"></i>
          </div>
          <h5 class="mt-4">Graphic Design</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
            blanditiis quia sed.
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 p-4">
          <div class="icon-box">
            <i class="bx bxs-coffee"></i>
          </div>
          <h5 class="mt-4">UI/UX Design</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
            blanditiis quia sed.
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 p-4">
          <div class="icon-box">
            <i class="bx bx-code-curly"></i>
          </div>
          <h5 class="mt-4">Coding</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
            blanditiis quia sed.
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 p-4">
          <div class="icon-box">
            <i class="bx bxs-image"></i>
          </div>
          <h5 class="mt-4">Photography</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
            blanditiis quia sed.
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 p-4">
          <div class="icon-box">
            <i class="bx bxs-castle"></i>
          </div>
          <h5 class="mt-4">Hacking</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
            blanditiis quia sed.
          </p>
        </div>
        <div class="col-lg-4 col-sm-6 p-4">
          <div class="icon-box">
            <i class="bx bx-code-alt"></i>
          </div>
          <h5 class="mt-4">Web Designing</h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
            blanditiis quia sed.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio -->
  <section id="portfolio" class="row g-0 py-0">
    <div class="col-lg-4 col-sm-6">
      <div class="portfolio-item">
        <img src="./../assets/img-4.jpg" alt="1" />
        <div class="portfolio-overlay">
          <div>
            <h4>Project Title</h4>
            <h6>Project subtitle</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="portfolio-item">
        <img src="./../assets/img-2.jpg" alt="1" />
        <div class="portfolio-overlay">
          <div>
            <h4>Project Title</h4>
            <h6>Project subtitle</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="portfolio-item">
        <img src="./../assets/img-3.jpg" alt="1" />
        <div class="portfolio-overlay">
          <div>
            <h4>Project Title</h4>
            <h6>Project subtitle</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="portfolio-item">
        <img src="./../assets/img-1.jpg" alt="1" />
        <div class="portfolio-overlay">
          <div>
            <h4>Project Title</h4>
            <h6>Project subtitle</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="portfolio-item">
        <img src="./../assets/img-5.jpg" alt="1" />
        <div class="portfolio-overlay">
          <div>
            <h4>Project Title</h4>
            <h6>Project subtitle</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="portfolio-item">
        <img src="./../assets/img-6.jpg" alt="1" />
        <div class="portfolio-overlay">
          <div>
            <h4>Project Title</h4>
            <h6>Project subtitle</h6>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- features -->
  <section id="features">
    <div class="container">
      <div class="row">
        <div class="col-12 our-services">
          <h1>Our Features</h1>
          <div class="hline"></div>
        </div>
      </div>
      <div class="row g-5">
        <div class="col-lg-4 col-sm-6 feature d-flex">
          <div class="icon-box me-3">
            <i class="bx bx-check"></i>
          </div>
          <div>
            <h5 class="title-sm">Graphic Design</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
              blanditiis quia sed.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 feature d-flex">
          <div class="icon-box me-3">
            <i class="bx bx-check"></i>
          </div>
          <div>
            <h5 class="title-sm">UI/UX Design</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
              blanditiis quia sed.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 feature d-flex">
          <div class="icon-box me-3">
            <i class="bx bx-check"></i>
          </div>
          <div>
            <h5 class="title-sm">Web Design</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
              blanditiis quia sed.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 feature d-flex">
          <div class="icon-box me-3">
            <i class="bx bx-check"></i>
          </div>
          <div>
            <h5 class="title-sm">Hosting</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
              blanditiis quia sed.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 feature d-flex">
          <div class="icon-box me-3">
            <i class="bx bx-check"></i>
          </div>
          <div>
            <h5 class="title-sm">Security</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
              blanditiis quia sed.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 feature d-flex">
          <div class="icon-box me-3">
            <i class="bx bx-check"></i>
          </div>
          <div>
            <h5 class="title-sm">Maintainance</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
              blanditiis quia sed.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- team -->
  <section id="team" class="row g-0 py-0 text-center">
    <div class="col-lg-3 col-sm-6 team-member">
      <div class="team-member-img">
        <img src="./../assets/p-1.JPG" alt="1" />
        <div class="social-icons">
          <a href="#"><i class="bx bxl-facebook"></i></a>
          <a href="#"><i class="bx bxl-twitter"></i></a>
          <a href="#"><i class="bx bxl-instagram"></i></a>
          <a href="#"><i class="bx bxl-github"></i></a>
        </div>
      </div>
      <div class="p-4">
        <h5 class="title-sm mt-3 mb-0">Robert Downey JR</h5>
        <small>Irom Man</small>
        <div class="hline"></div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus
          amet quo quos!
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 team-member even">
      <div class="team-member-img">
        <img src="./../assets/p4.jpg" alt="1" />
        <div class="social-icons">
          <a href="#"><i class="bx bxl-facebook"></i></a>
          <a href="#"><i class="bx bxl-twitter"></i></a>
          <a href="#"><i class="bx bxl-instagram"></i></a>
          <a href="#"><i class="bx bxl-github"></i></a>
        </div>
      </div>
      <div class="p-4">
        <h5 class="title-sm mt-3 mb-0">Scarlet Johanson</h5>
        <small>Black Widow</small>
        <div class="hline"></div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus
          amet quo quos!
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 team-member">
      <div class="team-member-img">
        <img src="./../assets/p-2.jpg" alt="1" />
        <div class="social-icons">
          <a href="#"><i class="bx bxl-facebook"></i></a>
          <a href="#"><i class="bx bxl-twitter"></i></a>
          <a href="#"><i class="bx bxl-instagram"></i></a>
          <a href="#"><i class="bx bxl-github"></i></a>
        </div>
      </div>
      <div class="p-4">
        <h5 class="title-sm mt-3 mb-0">Cillain Murphy</h5>
        <small>Peaky Blinder</small>
        <div class="hline"></div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus
          amet quo quos!
        </p>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 team-member even">
      <div class="team-member-img">
        <img src="./../assets/p-3.jpg" alt="1" />
        <div class="social-icons">
          <a href="#"><i class="bx bxl-facebook"></i></a>
          <a href="#"><i class="bx bxl-twitter"></i></a>
          <a href="#"><i class="bx bxl-instagram"></i></a>
          <a href="#"><i class="bx bxl-github"></i></a>
        </div>
      </div>
      <div class="p-4">
        <h5 class="title-sm mt-3 mb-0">Chris Evans</h5>
        <small>Captain America</small>
        <div class="hline"></div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus
          amet quo quos!
        </p>
      </div>
    </div>
  </section>
  <!-- testimonials  -->
  <section id="testimonials" class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul
            class="nav nav-pills justify-content-center mb-3"
            id="pills-tab"
            role="tablist"
          >
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="pills-home-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-home"
                type="button"
                role="tab"
                aria-controls="pills-home"
                aria-selected="true"
              >
              <img src="./../assets/p-1.JPG" alt="1">
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-profile-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-profile"
                type="button"
                role="tab"
                aria-controls="pills-profile"
                aria-selected="false"
              >              
              <img src="./../assets/p4.jpg" alt="1">
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="pills-contact-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-contact"
                type="button"
                role="tab"
                aria-controls="pills-contact"
                aria-selected="false"
              >
              <img src="./../assets/p-2.jpg" alt="1">
              </button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="pills-home"
              role="tabpanel"
              aria-labelledby="pills-home-tab"
              tabindex="0"
            >
              <div class="review">
                <div class="stars">
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bx-star"></i>
                </div>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                   Reprehenderit, mollitia eum eaque recusandae soluta reiciendis. 
                   Quae voluptatibus alias maiores? Hic quas ut, soluta dolore repellat totam cupiditate.
                    Nostrum, obcaecati. Ratione perferendis deleniti, 
                  optio repudiandae dignissimos iusto vitae ut at?</p>
                  <h5 class="title-sm mb-0">John Doe</h5>
                  <small>Web Developer</small>
              </div>
            </div>
            <div
              class="tab-pane fade"
              id="pills-profile"
              role="tabpanel"
              aria-labelledby="pills-profile-tab"
              tabindex="0"
            >
            <div class="review">
              <div class="stars">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bx-star"></i>
              </div>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Reprehenderit, mollitia eum eaque recusandae soluta reiciendis. 
                 Quae voluptatibus alias maiores? Hic quas ut, soluta dolore repellat totam cupiditate.
                  Nostrum, obcaecati. Ratione perferendis deleniti, 
                optio repudiandae dignissimos iusto vitae ut at?</p>
                <h5 class="title-sm mb-0">John Doe</h5>
                <small>Web Developer</small>
            </div>
            </div>
            <div
              class="tab-pane fade"
              id="pills-contact"
              role="tabpanel"
              aria-labelledby="pills-contact-tab"
              tabindex="0"
            >
            <div class="review">
              <div class="stars">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bx-star"></i>
              </div>
              <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Reprehenderit, mollitia eum eaque recusandae soluta reiciendis. 
                 Quae voluptatibus alias maiores? Hic quas ut, soluta dolore repellat totam cupiditate.
                  Nostrum, obcaecati. Ratione perferendis deleniti, 
                optio repudiandae dignissimos iusto vitae ut at?</p>
                <h5 class="title-sm mb-0">John Doe</h5>
                <small>Web Developer</small>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- clients -->
  <section id="clients">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-2 col-md-3 col-6">
          <img src="./../assets/logo4.svg" alt="1">
        </div>
        <div class="col-lg-2 col-md-3 col-6">
          <img src="./../assets/logo1.svg" alt="1">
        </div>
        <div class="col-lg-2 col-md-3 col-6">
          <img src="./../assets/logo2.svg" alt="1">
        </div>
        <div class="col-lg-2 col-md-3 col-6">
          <img src="./../assets/logo3.svg" alt="1">
        </div>
        <div class="col-lg-2 col-md-3 col-6">
          <img src="./../assets/logo5.svg" alt="1">
        </div>
        <div class="col-lg-2 col-md-3 col-6">
          <img src="./../assets/logo1.svg" alt="1">
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="container">
      <div class="row align-items-center" >
        <div class="col-lg-4">
          <img src="./../assets/contact.jpg" alt="">
        </div>
        <div class="col-lg-6 offset-lg-1">
          <form>
            <div class="mb-3">
              <small>Name</small>
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <small>Email</small>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <small>Message</small>
              <textarea name="" id="" cols="30" rows="4" class="form-control" ></textarea>
            </div>
            <button type="submit" class="btn btn-brand">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- get started -->
  <section id="get-started" class="py-5">
    <div class="container py-4" >
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h3>Let's try to get some new ideas</h3>
        </div>
        <div class="col-auto">
          <button class="btn btn-brand">get started</button>
        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <footer>
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4 class="logo-text">MD_SQUARE</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ad, quam odio eaque officiis non possimus in! Ipsum, quas harum.</p>
            <div class="social-icons">
              <a href="#"><i class="bx bxl-facebook"></i></a>
              <a href="#"><i class="bx bxl-twitter"></i></a>
              <a href="#"><i class="bx bxl-instagram"></i></a>
              <a href="#"><i class="bx bxl-github"></i></a>
            </div>
          </div>
          <div class="col-md-3">
            <h5 class="title-sm">Navigation</h5>
            <div class="footer-links">
              <a href="#home">Home</a>
              <a href="#">Our Work</a>
              <a href="#">services</a>
              <a href="#">Blog</a>
            </div>
          </div>
          <div class="col-md-3">
            <h5 class="title-sm">More</h5>
            <div class="footer-links">
              <a href="#">FAQ's</a>
              <a href="#">Privacy & Policy</a>
              <a href="#">Licences</a>
            </div>
          </div>
          <div class="col-md-2">
            <h5 class="title-sm">Contact</h5>
            <div class="footer-links">
              <p>sr nagar, metro near by Hyderabad, 500083</p>
              <p class="mb-0">+91 9000003344</p>
              <a href="#">hello@netlify.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6">
              <p class="mb-0">&copy; Agency2023. All rights reserved</p>
            </div>
            <div class="col-auto">
              <p class="mb-0">Created by krishna reachme <a href="https://github.com/krishnacse">here</a></p>
            </div>
        </div>
      </div>
    </div>
  </footer>

</body>
